POSTGRES_DB=opspilot
POSTGRES_USER=opspilot
POSTGRES_PASSWORD=opspilot
POSTGRES_PORT=5432

REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

FRONTEND_PORT=5173
API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
TENANT_SERVICE_PORT=8082
KNOWLEDGE_BASE_SERVICE_PORT=8083
AI_ORCHESTRATOR_SERVICE_PORT=8084
TICKET_SERVICE_PORT=8085
NOTIFICATION_SERVICE_PORT=8086
ANALYTICS_SERVICE_PORT=8087
